<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
</head>
<body>
    <h1>Hello {{ user_name }}</h1>
    {% if content %}
        <p>{{ content }}</p>
    {% else %}
        <p>There is no content.</p>
    {% endif %}

    {% for x in range(10) %}
        <h3>{{ x ** 2 }}</h3>
    {% endfor %}

    <h2>My name is {{ context.name }} {{ context.surname }}. I am {{ context.age }} years old.</h2>
</body>
</html>
